.Card {
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 140px;
    padding: 16px 8px;
    margin: 8px 4px;
    height: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}


.Card__img {
    text-align: center;
}


.Card__container {
    text-align: center;

}

.Card__container__title {
    font-size: 16px;
    margin-bottom: 8px;
}

.Card__container__title span {
    font-size: 12px;
    color: rgb(133, 133, 133);
}

.Card__container__types {

    display: flex;
    flex-wrap: wrap;
    gap: 8px;

}