.CardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    max-width: 1500px;
    align-items: center;
    @media (max-width: 1024px) { 
      max-width: 1024px;
      }
    
      @media (max-width: 768px) { 
        max-width: 768px;
      }
    
      @media (max-width: 576px) { 
        max-width: 576px;
   
      }
    
  }
  