.Container {
  padding: 50px;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  background-color: #f0f0f0;
}

.Container__search-container{
  display: flex; 
  flex-direction: row;
  justify-content: center; 
  height: 40px;
  width: 200px;
}

.input{
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  border: none;
  outline: none;
}

.Container__pokedex-result{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  width: 320px;
}


.Container__pokedex-result__card{
  background-color: #fff;
  border-radius: 10px;
  margin: 5px;
  width: 45%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
